/*classe para toda a página*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 2rem;
  font-family: Arial;
}
/*classe para o header*/
header {
  width: auto;
  overflow: hidden;
  position: relative;
}

/*classe para toda o corpo*/
body {
  margin-bottom: 100px;
}
/*classe para toda os links da página*/
a {
  text-decoration: none;
}
/*classe para o texto Sobre Nós*/
.texto{
	padding: 25px;
	text-align: justify;
	color: black; 
	font-family: Arial;
}

  /* Classe adicional para o header */
.header {
  background-color: #4B0082;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
}
 /* Classe adicional para efeito do link*/
.menu-link:hover {
  color: #00FFFF;
    text-decoration: none;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 10px;
}

.menu li a {
  padding: 30px;
    color: white;
}

#menu-link-login, 
#menu-link-cadastro {
    font-size: 1.8rem;
    padding: 10px;
}

@media screen and (max-width: 56em) {
  .menu li a {
      padding: 10px;
      font-size: 1rem;
  }
  #menu-link-pequeno {
      font-size: .6rem;
  }
}

/* logo */

#logo {
  margin-left: 10%;
  margin-bottom: 0;
  margin-top: 0%;
  color: #FF6B6B;
  width: 40rem;
}

@media screen and (max-width: 40em) {
  .menu li a {
      padding: 10px;
      font-size: .6rem;
  }
  #menu-link-pequeno {
      font-size: .5rem;
  }
}


/*sobre*/

.c{
	text-align: center;
  font: Arial
}
/* Abaixo Classe CSS para definir o corpo da pagina*/		  
.c {    
                 
  font-size: 30px;
  font-family: arial;
  border-style:0px solid;
  margin-left: 10%;
  margin-right: 10%;
  color: black;
  width: 80%;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  background-color: white;
}

/* FIM DA PAGINA */
.fim-da-pag {
	position: relative;
	overflow: hidden;
	bottom: 0;
	background-color: indigo;
	color: #FFF;
	width: 100%;
	height: 15rem;   
	line-height: 10rem; 
	text-align: center;
	
	font-size: 1.2rem;
	font-family: Arial;

	margin-top: 5%;
	top: 100px;
}
.carousel-inner {
  margin-top: 10%;
}

/*BOTAO VOLTAR AO TOPO*/

#topo
{
    position: fixed;
    float: right;
    margin: 15px;
    bottom: 15px;
    right: 10px;
}
