* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: Arial;
}

header {
  width: auto;
  overflow: hidden;
  position: relative;
}

body {
  margin-bottom: 100px;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  text-align: center;
  margin-right: 100%;
  margin-left: 10px;
  margin-top: 100px;
}

img {
  max-width: 100%;
  display: block;
}

.header {
  background: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.menu-link:hover {
  color:  #FF6B6B;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 10px;
}

.menu li a {
  padding: 30px;
}

@media screen and (max-width: 56em) {
  .menu li a {
    padding: 10px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 40em) {
  .menu li a {
    padding: 10px;
    font-size: .6rem;
  }
}

/* hover */
.img {
  position: relative;
}

.flex img, .left-bar img {
  width: 100%; 
  border-radius: 2px;
  -webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}

.img:hover img {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}

.img .dentro {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;    
  background: none repeat scroll 0 0 #4040ff5e;    
  border-radius: 2px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;

  -webkit-transition:	 all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
  transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000); 
}

.img:hover .dentro {
  opacity: 1;
  box-shadow: inset 0 0 100px 50px rgba(0,0,0,.5);
}

.img .dentro p {
  color: #fff;
  font-size: 20px;
  margin-top: 20%;
}

.img .dentro a {
  display: block;
  width: 100px;
  font-size: 20px;
  background: #FF6B6B;
  border: 1px solid #FF6B6B;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 5px 5px;
  margin: 5px auto 0;
}

/* BANNER */

.banner-promo {
  width: 100%;
  height: 20vh;
  overflow: hidden;
  position: relative;
}

.banner-promo img {
  width: 100%;
  height: 20vh;
  object-fit: cover;
  animation: zoom 25s;
}

@keyframes zoom {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

/* BARRA DE PESQUISA */

.barra-de-pesquisa {
  display: flex;
}

.barra-de-pesquisa input {
  margin-left: 30%;
  margin-bottom: -5%;
  margin-top: 5%;
  height: 3.5vh;
  width: 70vh;
}

/* PRODUTOS */

.flex {
  float: right;
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  margin-right: 20%;
}

.flex > div {
  flex: 1 1 230px;
  margin: 10px;
}

.img {
  overflow: hidden;
}

@media screen and (max-width: 56em) {
  .flex {
    margin-right: 0%;
  }
}

/* LEFT BAR*/

.left-bar {
  display: flex;
  flex-wrap: wrap;
  max-width: 260px;
  margin: 0 auto;
  width: 30%;
  height: 90%;
  background: #ffffff;
  border-radius: 10px;
  border: 5px solid #FF6B6B;
  margin-left: 5%;
  margin-top: 12%;
  display: inline-block;
}

.left-bar h2 {
  position: relative;
  margin: auto;
  top: -50px;
}

.left-bar > div {
  flex: 1 1 230px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10px;
}

.left-bar p {
  margin-bottom: 20px;
}

@media screen and (max-width: 90em) { 
  .left-bar {
    min-width: 70%;
    margin-left: 15%;
  }
  .left-bar > div {
    min-width: 70%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

#logo {
  margin-left: 15%;
  color: #FF6B6B;
}


/* FIM DA PAGINA */

.fim-da-pag {
  position: relative;
  bottom: 0;
  background-color: black;
  color: #FFF;
  width: 100%;
  height: 10rem;   
  line-height: 10rem; 
  text-align: center;
  margin-top: 5%;
  top: 100px;
}

/* CELULAR */

@media screen and (max-width: 731px) {
  .flex {
    float: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    margin: 0 auto;
  }

  .barra-de-pesquisa input {
    margin-left: 0;
    width: 100%;
  }

  .menu li a {
    padding: 25px;
  }
  #logo {
    margin-left: 25%;
  }
}