*
 {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 2rem;
    font-family: Arial;
}

header {
    width: auto;
    overflow: hidden;
    position: relative;
}

body {
    margin-bottom: 100px;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    margin-left: 10px;
    margin-top: 100px;
    display: inline-block;
}

/* header */

.header 
{
    background-color: #4B0082;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
}

.menu-link:hover {
    color: #00FFFF;
    text-decoration: none;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    padding: 30px;
    color: white;
}

#menu-link-login, 
#menu-link-cadastro {
    font-size: 1.8rem;
    padding: 10px;
}

@media screen and (max-width: 56em) {
    .menu li a {
        padding: 10px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 40em) {
    .menu li a {
        padding: 10px;
        font-size: .6rem;
    }
}

/* logo */

#logo {
    margin-left: 10%;
    margin-bottom: 0;
    margin-top: 0%;
    width: 40rem;
}

/*a cima segue um padrão*/

.esquerda {
    color: black;
    text-align: left;
    margin-left: 5%;
    margin-top: 5%;
}

.menu-esquerda nav ul, .menu-esquerda nav h1{
    margin-bottom: 2%;
}

.menu-esquerda nav ul li a:hover {
    color: #00FFFF;
}

.meio{
    margin-right: 20px;
}

.menudados
{
	background-color: yellow;
	border-radius: 25%;
}
.form {
    color: black;
    position: fixed;
    float: right;
    top: 23%;
    left: 40%;
    width: 30%;
    background-image: linear-gradient(to bottom right, #4b0082, white); 
    border-radius: 5%;
}

.form1 {
    color: black;
    position: fixed;
    float: right;
    top: 23%;
    left: 40%;
    width:40%;
    border-radius: 5%;
}

.divform
{
	background-color: white;
	width: 90%;
	margin: 5%;
}

.btnsub {
	margin-left: 40%;
	width: 20%;
	margin-bottom: 2%;
	background-color: #4b0082;
	color: white;
}

.inp
{
    margin-bottom: 3%;
    padding: 1%;
 }
