			
			/* Abaixo Classe CSS com a fonte da letra para toda a Página */
			.fontetexto{
			
				font-family: Arial, Helvetica, sans-serif;
			}
			
			/* Abaixo Classe CSS para o Topo da Página */
			.contatotopo {
				font-size: 60px;
				border: 0px solid;
				margin-left: 10%;
				margin-right: 10%;
				color: black;
				width: 80%;
				float: top;
				text-align: center;
				padding-top: 0px;
				padding-bottom: 0px;
				background-color: white;
			}
			
			/* Classe para imagem do contatotopo */
			#imgcenter {
			  display: block;
			  margin-left: 10%;
			  margin-right: 10%;
			  width: 80%;
			  position: relative;
			  animation-name: entrada;
			  animation-duration: 4s;
			}
			/* Animação para entrada da imagem*/
			@keyframes entrada {
			  0%   {left:-100%; top:0px;}
			  100%  {left:0%; top:0px;}
			}
			/* Animação para inverter as cores do nome Contato*/
			#cnt {
			  animation-name: inverter;
			  animation-duration: 4s;
			}
			@keyframes inverter	{
			  0%   {background-color:black; color: white; left:-100%; top:0px;}
			  100%  {background-color:white; left:50%; top:0px;}
			}
				
			/* Abaixo Classe CSS para o Corpo da Página */	
			.contatocorpo {
				border: 0px solid;
				margin: auto;
				background-color: white;
				color: black;
				width: 40%;
				float: left;
				text-align: left;
			}
			
			/* Abaixo Classe CSS para o botão Chat Online na Página */	
			.contatobotao {
				padding: 0;
				color: white;
				background-color: black;
				cursor: pointer;
				width: 200px;
				height: 50px;
				display: inline-block;
				font-size: 14px;
				transition: .3s;
				float: left;
				margin: 0px;
			}		
			/* Quando o mouse passa por cima do botão chat online(.contatobotao) ele inverte as cores*/	
			.contatobotao:hover {
				background-color: white;
				color: black;
			}

			/* Abaixo Classe CSS para o botão Chat Online na Página */	
			.aviso {
				color: red;
				transition: .30s;
			}
